<div class="container-fluid" ng-controller="searchInYtController">
    <div class="row">
        <div class="col-md-2">     
            <form>
            Search: <input ng-model="searchedVideoTitle" required>
            <button class="btn-info" ng-click="searchVideo()">KLIK</button>
            </form>
        </div>
        <div class="col-md-10">
            <div class="searchVideo">
                <ul class="phones2">
                    <li ng-repeat="video in videos track by $id(video.entry.gd$rating.average)" class="thumbnail"> 

                        <p>{{video.gd$rating.average}}</p>
                        <h3>{{video.title.$t}}</h3>
                        
                        <div my-youtube class="video" code={{video.id.$t.slice(42,53)}}></div>
                        
                        <a ng-click="add(video.id.$t.slice(42,53))" ><img ng-src="img/images.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
